#pokemonsList {    
    width: 80%;
    margin: 4em auto;
    .pokemonsList-container {
        display: flex;
        flex-wrap: wrap;
        &-item {
            width: 12em;
            margin: 0 1em;
            &-image {
                width: 12em;
                height: 12em;
            }
        }
    }
}